aiofiles==24.1.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.5.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
azure-ai-documentintelligence==1.0.0b4
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.7
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
Django==5.1.1
django-cors-headers==4.4.0
exceptiongroup==1.2.2
faiss-cpu==1.8.0.post1
fast-pytorch-kmeans==0.2.0.1
FlagEmbedding==1.2.11
frozenlist==1.4.1
fsspec==2024.6.1
gptpdf==0.0.15
greenlet==3.1.0
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.5
httpx==0.27.2
idna==3.10
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.1
langchain-experimental==0.3.0
langchain-groq==0.2.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langchain-together==0.2.0
langsmith==0.1.123
llama-index-agent-openai==0.3.3
llama-index-core==0.11.10
llama-index-embeddings-openai==0.2.5
llama-index-llms-openai==0.2.9
llama-index-multi-modal-llms-openai==0.2.1
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-llama-parse==0.3.0
llama-parse==0.5.5
llamaindex-py-client==0.1.19
Markdown==3.7
marshmallow==3.22.0
multidict==6.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
numpy==1.26.4
openai==1.46.0
orjson==3.10.7
packaging==24.1
pandas==2.2.2
pdfminer.six==20240706
peft==0.12.0
pillow==10.4.0
psutil==6.0.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pylate==1.1.2
pymupdf4llm==0.0.16
pypandoc==1.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rerankers==0.5.3
scikit-learn==1.5.2
scipy==1.14.1
sentence-transformers==3.0.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
sqlparse==0.5.1
tenacity==8.5.0
tiktoken==0.7.0
together==1.2.12
torch==2.4.1
torchvision
tqdm==4.66.5
transformers==4.44.2
umap-learn==0.5.6
unstructured==0.15.12
unstructured-client==0.24.1
